{% extends "layout/basic.html" %}
{% block content %}
<div class="form">
<form method='post' action=''>
    <h2>
            <span>Q</span>
            <span>u</span>
            <span>i</span>
            <span>z</span>
            <span>A</span>
            <span>P</span>
            <span>P</span>
    </h2>
    <hr>
    {{ form }}
    {% csrf_token %}
<div class="lox">
    <div class="form-group">
      <p for="question">{{ question1 }}</p>
    </div>

    <div class="form-check">
        <div class="form-check">
            <input  type="radio" name="1" value="True" >
                True
            <input  type="radio" name="1" value="False">
                False <br>
        </div>
    </div>        <br>


      <div class="form-group">
      <p for="question">{{ question2 }}</p>
    </div>

    <div class="form-check">
        <div class="form-check">
            <input  type="radio" name="2"  value="True" >
                True
            <input  type="radio" name="2"  value="False">
                False <br>
        </div>
        </div>     <br>


      <div class="form-group">
      <p for="question">{{ question3 }}</p>
    </div>

       <div class="form-check">
        <div class="form-check">
            <input  type="radio" name="3"  value="True" >
                True
            <input  type="radio" name="3"  value="False">
                False <br>
        </div>
        </div>     <br>



    <p><input type="submit" class="btn" value="Submit" ></p>
    <a href="{% url 'menu' %}"><h2>Menu</h2></a>
</div>
</form>
    </div>
{% endblock %}
